*{
    margin: 0;
    padding: 0;
}

.gg {
    background-color: #b5ab60;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.img1{
    display: flex;
    position: absolute;
    left: 1%;
    bottom: 1%;
}

.ej{
    position: absolute;
}

.grib2{
    height: 20%;
    position: absolute;
    left: 94%;
    bottom: 19%;
}

.grib1{
    height: 20%;
    position: absolute;
    left: 74%;
    bottom: 10%;
}