* {
    margin: 0;
    padding: 0;
}

.pa {
    display: flex;
    height: auto;
}

.hp {
    height: 195px;
    width: 600px;
    border: 3px solid black;
}

.inp {
    height: 195px;
    width: 2000px;;
    border: 3px solid black;
}

.gg {
    display: flex;
    flex-direction: column;

}

.vid {
    border: 3px solid black;
    height: 490px;
    width: auto;
    background-size: 2600px 650px;
    background: url('main_background.jpg') no-repeat bottom;
    text-align: center;
}

.vid.img {
    padding: 500px;
}

.pa2 {
    display: flex;
}

.inp {
    --hue: var(--hue-neutral);
    padding: 0;
    margin: 0;
    display: flex;
    width: 2000px;
    height: 195px;
    justify-content: center;
    align-items: center;
    background-color: hsl(var(--hue), 100%, 20%);
}

.gg2 {
    display: flex;
    flex-direction: column;
}

.kv {
    position: absolute;
    top: 50px;
    right: 100px;
}

#kvad {
    height: 300px;
    width: 350px;
    background-color: white;
}

.bbb {
    background-color: rgb(14, 131, 234);
    border-color: blue;
    color: white;
}

.bbb:hover {
    border-color: chartreuse;
}

*, *::before, *::after {
    box-sizing: border-box;
    font-family: Gotham Rounded;
}

:root {
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
}

.hpoint {
    height: 100px;
    width: 100px;
}

.container {
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {
    --hue: var(--hue-neutral);
    border: 1px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue), 100%, 50%);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
}

.btn:hover {
    border-color: black;
}

.btn.correct {
    --hue: var(--hue-correct);
    color: black;
}

.btn.wrong {
    --hue: var(--hue-wrong);
}

.start-btn, .next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.er {
    height: 100px;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.eru {
    width: 30%;
    display: flex;
    justify-content: center;
}

#increment-btn,
#decrement-btn,
#reset {
    color: rgb(10, 10, 10);
    margin: 20px;
}

#reset {
    font-size: 20px;
}

#counter-value {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-overlay {
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.modal-wrapper {
    width: 300px;
    height: 300px;
    background: ghostwhite;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-content {
    margin: 20px;
    max-width: 210px;
    width: 100%;
}

.hide {
    display: none;
}

.tre {
    position: absolute;
}

.rotate-question {
    transform: rotate(180deg);
}